.navbar {
  margin-bottom: 20px;
}

.ls-orange {
    background-color: #f45905 !important;
}

.ls-red {
    background-color: #c70d3a !important;
}

.ls-purple {
    background-color: #512c62 !important;
}

.ls-cyan {
    background-color: #45969b !important;
}

.ls-yellow {
    background-color: #e8aa00 !important;
}

.ls-green {
    background-color: #009135 !important;
}

.blurb-card {
    min-height: 500px;
}

/* FROM: StackOverflow*/
iframe[seamless] {
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}

/* FROM StackOverflow*/
.big-checkbox {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

/* FROM: https://getbootstrap.com/docs/4.0/examples/sticky-footer/ */
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}
